<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osmium.uniapp.scancodelibrary" >

    <application>
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:theme="@style/Base.Theme.AppCompat"-->
            <!--&gt;</activity>-->

        <activity
            android:name=".MyCaptureActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>
